{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
{% set currentDate = "now"|date('Y-m-d') %}

<h1 class="subtitle">Liste des formations</h1>
<div class="table_btn_wrapper">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Sessions Totales</th>
                <th>en cours</th>
                <th>Actions</th>
            
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
            
    {% set x = 0 %}
    {% for session in formation.sessions %}
   
    
        {% if session.fin|date('Y-m-d') >= currentDate|date('Y-m-d') and session.debut|date('Y-m-d') <= currentDate|date('Y-m-d') %}

            {% set x = x + 1 %}
            
        {% endif %}
    {% endfor %}
            <tr>
                <td class="intitule"><a href="{{path('show_formation',{'id':formation.id})}}">{{ formation.nom}}</a></td>
                <td>{{formation.sessions|length}}</td>
                <td>{{x}}</td>
                <td><a style="color:orange" href="{{path('edit_formation',{'id':formation.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                     <a style="color:red" href="{{path('delete_formation',{'id':formation.id})}}"><i class="fa-solid fa-x"></i></a></td>
                
            
               
            </tr>
        
            {% endfor %}
        <tbody>
    </table>
    
    <a class="addBtn"  href="{{path('new_formation')}}">Ajouter</a>
</div>


{% endblock %}
