{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="subtitle">Bienvenue</h1>


<h2  class="subtitle">Sessions en cours</h2>
<table class="styled-table center">
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Fini dans</th>
        
        </tr>
    </thead>
    <tbody>
        {% set currentDateTime = "now"|date %}
        {% for session in enCour %}
        {% set difference = session.fin|date('U') - currentDateTime|date('U') %}
        {% set difference = difference / 86400 %}
        {% set difference = difference|round(0, 'ceil') %}
        <tr>
            <td class="intitule"><a title="info session" href="{{path('show_session',{'id':session.id})}}">{{session.intitule}}</a></td>
            <td>{{session.debut|date('d-m-Y')}}</td>
            <td>{{session.fin|date('d-m-Y')}}</td>
            <td>{{session.stagiaires | length}} / {{session.places}}</td>
            <td>{{difference}} jours</td>
        </tr>
    
        {% endfor %}
    <tbody>
</table>


<h2  class="subtitle">Sessions à venir</h2>
<table class="styled-table center">
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Debute </th>
        
        </tr>
    </thead>
    <tbody>
        {% set currentDateTime = "now"|date %}
        {% for session in aVenir %}
            {% set difference = session.debut|date('U') - currentDateTime|date('U')   %}
            {% set difference = difference / 86400 %}
            {% set difference = difference|round(0, 'ceil') %}
            <tr>
                <td class="intitule"><a title="info session" href="{{path('show_session',{'id':session.id})}}">{{session.intitule}}</a></td>
                <td>{{session.debut|date('d-m-Y')}}</td>
                <td>{{session.fin|date('d-m-Y')}}</td>
                <td>{{session.stagiaires | length}} / {{session.places}}</td>
                <td>{{difference}} jours</td>
            </tr>
        
        {% endfor %}
    <tbody>
</table>

<h2  class="subtitle">Sessions terminées</h2>

<table class="styled-table center">
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
       
        
        </tr>
    </thead>
    <tbody>
        {% set currentDateTime = "now"|date %}
        {% for session in fini %}
            <tr>
                <td class="intitule"><a title="info session" href="{{path('show_session',{'id':session.id})}}">{{session.intitule}}</a></td>
                <td>{{session.debut|date('d-m-Y')}}</td>
                <td>{{session.fin|date('d-m-Y')}}</td>
                <td>{{session.stagiaires | length}} / {{session.places}}</td>
               
            </tr>
        
        {% endfor %}
    <tbody>
</table>

{% endblock %}
