{% extends 'base.html.twig' %}

{% block title %}Ajouter un Stagiaire{% endblock %}

{% block body %}

    <h1 class="subtitle">Ajouter un Stagiaire</h1>
    
    {{ form_start(formAddStagiaire, {'attr': {'class': 'form_session'}}) }}
    
        {{form_row(formAddStagiaire.nom)}}
        {{form_row(formAddStagiaire.prenom)}}
        <div class="inline">{{form_row(formAddStagiaire.naissance)}}</div> 
        {{form_row(formAddStagiaire.sexe)}}
        {{form_row(formAddStagiaire.ville)}}
        {{form_row(formAddStagiaire.telephone)}}
        {{form_row(formAddStagiaire.mail)}}
        
   
    {{form_end(formAddStagiaire) }}
    

{% endblock %}