{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block body %}

    <h1>Ajouter un Stagiaire</h1>
    
    {{ form_start(formAddStagiaire) }}
    
        {{form_row(formAddStagiaire.nom)}}
        {{form_row(formAddStagiaire.prenom)}}
        {{form_row(formAddStagiaire.naissance)}}
        {{form_row(formAddStagiaire.sexe)}}
        {{form_row(formAddStagiaire.ville)}}
        {{form_row(formAddStagiaire.telephone)}}
        {{form_row(formAddStagiaire.mail)}}
        {{form_row(formAddStagiaire.sessions)}}
   
    {{form_end(formAddStagiaire) }}
    

{% endblock %}