{% extends 'base.html.twig' %}

{% block title %} {{stagiaire.prenom}} {{ stagiaire.nom }} {% endblock %}


{% block body %}

<h1 class="subtitle"><i class="fa-regular fa-user"></i> Fiche Stagiaire</h1>

<table class="styled-table center">
    <thead>
        <tr>
            <th>Informations</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Nom et prenom : {{stagiaire.prenom}} {{ stagiaire.nom }}</td></tr>
        <tr><td>Sexe : {{stagiaire.sexe}} </td></tr>
        <tr><td>Date de naissance : {{stagiaire.naissance|date('d-m-Y')}}</td></tr>
        <tr><td>Ville: : {{stagiaire.ville}}</td></tr>
        <tr><td>Courriel : {{stagiaire.mail}}</td></tr>
        <tr><td>Telephone : {{stagiaire.telephone}}</td></tr>
    <tbody>
</table>








<h2 class="subtitle">Sessions Prévues</h2>
<table class="styled-table center">
    <thead>
        <tr>
            <th>Intitulé</th>
            <th>debut</th>
            <th>fin</th>
        </tr>
    </thead>
    <tbody>
        {% for session in stagiaire.sessions %}
        <tr>
            <td><a href="{{path('show_session',{'id':session.id})}}">{{session.Intitule}}</a></td>
            <td>{{session.debut|date('d-m-Y')}}</td>
            <td>{{session.fin|date('d-m-Y')}}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>






{% endblock %}
