{% extends 'base.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
<h2 class="subtitle">Bienvenue , vous etes connecter avec le mail : {{app.user.email}}</h2>


<table class="styled-table center">
    <thead>
        <tr>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       
        <tr>
            <td> <a title="nouvelle session" href="{{path('new_session')}}">Ajouter une session</a></td>
        </tr>
        <tr>
            <td><a title="nouveau stagiaire" href="{{path('new_stagiaire')}}">Ajouter un stagiaire</a></td>
        </tr>
        <tr>
            <td> <a title="nouveau materiel" href="{{path('new_materiel')}}">Ajouter un Type de materiel</a></td>
        </tr>
        <tr>
            <td> <a title="nouvelle formation" href="{{path('new_formation')}}">Ajouter une formation</a></td>
        </tr>
        <tr>
            <td> <a title="nouveau formateur" href="{{path('new_formateur')}}">Ajouter un formateur</a></td>
        </tr>
       
    <tbody>
</table>

{% endblock %}
