{% extends 'base.html.twig' %}

{% block title %}Inventaire du materiel{% endblock %}

{% block body %}
<h1  class="subtitle">Inventaire du materiel</h1>
<div class="table_btn_wrapper">
<table class="styled-table">
    <thead>
        <tr>
            <th>Materiel</th>
            <th>en cour d'utilisation</th>
            <th>besoin des future sessions</th>
            <th>Total disponible</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>
        
        {% set currentDate = "now"|date('Y-m-d') %}
        
        {% for materiel in materiels %}
        {% set enCour = 0 %}
        {% set besoin = 0 %}
            {% for utiliser in materiel.utilisers %}
                {% if utiliser.session.fin|date('Y-m-d') >= currentDate|date('Y-m-d') and utiliser.session.debut|date('Y-m-d') <= currentDate|date('Y-m-d') %}
                    {% set enCour = enCour + utiliser.qtt %}
                {% elseif utiliser.session.debut|date('Y-m-d') > currentDate|date('Y-m-d') %}
                    {% set besoin = besoin + utiliser.qtt %}
                {% endif %}
            {% endfor %}

        <tr>
            <td class="intitule"> <a title="info du materiel" href="{{path('show_materiel',{'id':materiel.id})}}">{{materiel.nom}}</a> </td>
            <td> {{enCour}} </td>
            <td> {{besoin}} </td>
            <td> {{materiel.qtt}} </td>
            <td> <a title="supprimer ce type de materiel" style="color:red" href="{{path('delete_materiel',{'id':materiel.id}) }}"><i class="fa-solid fa-x"></i></a></td>
        </tr>

        {% endfor %}

    <tbody>
</table>
<a title="ajouter un type de materiel" class="addBtn" href="{{path('new_materiel')}}">Ajouter</a>
</div>

{% endblock %}
