{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}

    <h1 class="subtitle">Ajouter une session</h1>
    
    {{ form_start(formAddSession, {'attr': {'class': 'form_session'}}) }}
    
        {{form_row(formAddSession.intitule)}}
        {{form_row(formAddSession.formation)}}
        {{form_row(formAddSession.formateur)}}
        <div class="inline">{{form_row(formAddSession.debut)}} </div>
        <div class="inline">{{form_row(formAddSession.fin)}}</div>
        {{form_row(formAddSession.Places)}}
        <div class="col-sm2"> {{form_row(formAddSession.stagiaires)}}</div>
    
    {{form_end(formAddSession) }}
    
{% endblock %}