{% extends 'base.html.twig' %}

{% block title %} Details de la Session {{session.Intitule}}{% endblock %}

{% block body %}


{% set interval = session.fin|date('U') - session.debut|date('U') %}
{% set months = interval / 2678400 %} 
{% set days = interval % 2678400 / 86400 %} 



<h1>Details de la Session : {{session.Intitule}}</h1>
<h2>Information</h2>
<p>Formateur : {{session.formateur}} </p>
<p>Formation : {{session.formation}} </p>

{% if months>=1 %}
    <p>durée : {{months|round(0, 'floor')}} mois et {{ days|round(0, 'floor')}} jours </p>
{% else %}
    <p>durée : {{ days|round(0, 'floor')}} jours </p>
{% endif %}

<h2>programme</h2>

<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>categorie</th>
            <th>Nb jours</th>
            <th>supprimer</th>

        </tr>
    </thead>
    <tbody>
        {% for programme in programmes %}

        <tr>
            <td>{{programme.module.nom}} </td>
            <td>{{programme.module.categorie.nom}} </td>
            <td><p>{{programme.jours}} jours</p></td>
            <td><a href="{{path('delete_programme',{'id':programme.id} )}}"><i class="fa-solid fa-trash"></i></a></td>
        </tr>

        {% endfor %}
        
    <tbody>
</table>




<h2>Programmes non Présent dans cette session</h2>

{% for module in NonProgrammes %}
        {{ module.nom }}
{% endfor %}


<a href="{{path('new_programme',{'id':session.id})}}">ajouter un Module</a>
<h2>participants</h2>
{% for stagiaire in session.stagiaires %}
   <p><a href="{{ path('show_stagiaire',{'id':stagiaire.id}) }}">{{stagiaire.prenom}} {{stagiaire.nom}}</a>  <a style ='color:red'href="{{ path('removeSession_stagiaire', {'id1': stagiaire.id, 'id2': session.id}) }}">x</a></p> 
{% endfor %}

<h2>Stagiaires non participants</h2>
{% for stagiaire in stagiaires %}

    <p><a href="{{ path('show_stagiaire',{'id':stagiaire.id}) }}">{{stagiaire.prenom}} {{stagiaire.nom}}</a>  <a href="{{ path('addSession_stagiaire', {'id1': stagiaire.id, 'id2': session.id}) }}">+</a></p> 

{% endfor %}

<h2>Materiel Nécessaire</h2>
{% for utiliser in session.utilisers %}
    <p> <a href="{{ path('diminuer_utiliser',{'id':utiliser.id}) }}">-</a>  {{utiliser.materiel}} {{utiliser.qtt}} <a href="{{ path('augmenter_utiliser',{'id':utiliser.id}) }}">+</a>  <a href="{{path('remove_utiliser',{'id':utiliser.id} )}}"><i class="fa-solid fa-trash"></i></a></p>
{% endfor %}

{{ form_start(formAddUtiliser) }}
    
        {{form_row(formAddUtiliser.materiel)}}
        {{form_row(formAddUtiliser.qtt)}}
        {{form_row(formAddUtiliser.Valider)}}
        
{{form_end(formAddUtiliser) }}


{% endblock %}
