{% extends 'base.html.twig' %}

{% block title %} Details de la Session {{session.Intitule}}{% endblock %}

{% block body %}


{% set interval = session.fin|date('U') - session.debut|date('U') %}
{% set months = interval / 2678400 %} 
{% set days = interval % 2678400 / 86400 %} 



<h1>Details de la Session : {{session.Intitule}}</h1>
<h2>Information</h2>
<p>Formateur : {{session.formateur}} </p>
<p>Formation : {{session.formation}} </p>

{% if months>=1 %}
    <p>durée : {{months|round(0, 'floor')}} mois et {{ days|round(0, 'floor')}} jours </p>
{% else %}
    <p>durée : {{ days|round(0, 'floor')}} jours </p>
{% endif %}

<h2>programme</h2>
<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Nb jours</th>
        </tr>
    </thead>
    <tbody>
        {% for programme in programmes %}

        <tr>
            <td>{{programme.module.nom}} </td>
            <td>{{programme.module.categorie.nom}} </td>
            <td><p>{{programme.jours}} jours</p></td>
        </tr>

        {% endfor %}
    <tbody>
</table>
<h2>participants</h2>
{% for stagiaire in session.stagiaires %}
    <a href="{{ path('show_stagiaire',{'id':stagiaire.id}) }}">{{stagiaire.prenom}} {{stagiaire.nom}}</a> <br> 
{% endfor %}




{% endblock %}
