{% extends 'base.html.twig' %}

{% block title %}liste des formateurs{% endblock %}

{% block body %}
<h1 class="subtitle">Liste des formateurs</h1>
<div  class="table_btn_wrapper">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nom Prenom</th>
                <th>a encadré</th>
                <th>Encardre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% set currentDate = "now"|date('Y-m-d') %}
            {% for formateur in formateurs %}

            {% set x = 0 %}
            {% for session in formateur.sessions %}
        
            
                {% if session.fin|date('Y-m-d') >= currentDate|date('Y-m-d') and session.debut|date('Y-m-d') <= currentDate|date('Y-m-d') %}

                    {% set x = x + 1 %}
                    
                {% endif %}
            {% endfor %}
            <tr>
                <td class="intitule"><a title="info formateur" href="{{path('show_formateur',{'id':formateur.id})}}">{{formateur.nom}} {{formateur.prenom}}</a> </td>
                
                <td>{{formateur.sessions|length}}</td>
                
                <td>{{x}}</td>

                <td><a title="modifier ce formateur" style="color:orange" href="{{path('edit_formateur',{'id':formateur.id})}}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a title="supprimer ce formateur" style="color:red" href="{{path('delete_formateur',{'id':formateur.id})}}"><i class="fa-solid fa-x"></i></a></td>
               
            </tr>
        
            {% endfor %}
        <tbody>
    </table>
    <br>
    <a title="ajouter un formateur" class="addBtn" href="{{path('new_formateur')}}">Ajouter</a>
</div>


{% endblock %}
    


